%pre --interpreter /bin/sh
#!/bin/sh
echo "pre-install started" > /dev/ttyS0
curl http://{{ host_ip }}:8010/images/{{ image }}.raw | dd of=/dev/sda
echo "image downloaded" > /dev/ttyS0
mkdir /mnt/rootfs
mount /dev/sda /mnt/rootfs

{% if "ubuntu" in image %}
sed -i -e 's/console=ttyS0//g' /mnt/rootfs/boot/grub/grub.cfg
echo "grub updated" > /dev/ttyS0
{% endif %}

reboot
%end

